<% meta = posting_batch.metadata || {} %>
<% meta = meta.with_indifferent_access if meta.respond_to?(:with_indifferent_access) %>
<% cc = meta["check_cashing"] || meta[:check_cashing] || {} %>
<% cc = cc.with_indifferent_access if cc.respond_to?(:with_indifferent_access) %>
<% check_amount = (cc["check_amount_cents"] || cc[:check_amount_cents] || 0).to_i %>
<% fee = (cc["fee_cents"] || cc[:fee_cents] || 0).to_i %>
<% disbursement = (cc["net_cash_payout_cents"] || cc[:net_cash_payout_cents] || 0).to_i %>
<% check_items = check_items_from_metadata(posting_batch) %>

<table class="table table-xs text-xs w-full">
  <%= render "teller/receipts/receipt_served_party", posting_batch: posting_batch %>
  <tr>
    <td>Checks In:</td>
    <td class="text-right tabular-nums"><%= receipt_money(check_amount) %></td>
  </tr>
  <tr>
    <td>Fee:</td>
    <td class="text-right tabular-nums"><%= receipt_money(fee) %></td>
  </tr>
  <tr>
    <td class="font-semibold">Disbursement:</td>
    <td class="text-right tabular-nums font-semibold"><%= receipt_money(disbursement) %></td>
  </tr>
</table>
<% if check_items.any? %>
  <%= render "teller/receipts/receipt_check_details", check_items: check_items, total_cents: check_amount %>
<% end %>
