<% meta = posting_batch.metadata || {} %>
<% meta = meta.with_indifferent_access if meta.respond_to?(:with_indifferent_access) %>
<% cc = meta["check_cashing"] || meta[:check_cashing] || {} %>
<% cc = cc.with_indifferent_access if cc.respond_to?(:with_indifferent_access) %>
<% party_id = cc["party_id"] || cc[:party_id] %>
<% party = Party.find_by(id: party_id) %>
<% check_amount = (cc["check_amount_cents"] || cc[:check_amount_cents] || 0).to_i %>
<% fee = (cc["fee_cents"] || cc[:fee_cents] || 0).to_i %>
<% disbursement = (cc["net_cash_payout_cents"] || cc[:net_cash_payout_cents] || 0).to_i %>
<% check_items = check_items_from_metadata(posting_batch) %>

<div class="receipt-type-details text-sm font-mono">
  <p>Party:        <%= party&.display_name || "ID #{party_id}" %> <%= "(#{party_id})" if party_id.present? %></p>
  <p>Checks In:    <%= receipt_money(check_amount) %></p>
  <p>Fee:         <%= receipt_money(fee) %></p>
  <p>Disbursement: <%= receipt_money(disbursement) %></p>
</div>

<% if check_items.any? %>
  <%= render "teller/receipts/receipt_check_details", check_items: check_items, total_cents: check_amount %>
<% end %>
