<% meta = posting_batch.metadata || {} %>
<% meta = meta.with_indifferent_access if meta.respond_to?(:with_indifferent_access) %>
<% check_items = check_items_from_metadata(posting_batch) %>
<% cash_back = (meta["cash_back_cents"] || meta[:cash_back_cents] || 0).to_i %>
<% checks_total = check_items.sum { |i| (i["amount_cents"] || i[:amount_cents] || 0).to_i } %>
<% cash_in = posting_legs.select { |l| l.side == "debit" && l.account_reference.to_s.start_with?("cash:") }.sum(&:amount_cents) %>
<% cash_in_from_checks = check_items.any? ? checks_total : 0 %>
<% cash_in_from_cash = cash_in - cash_in_from_checks %>

<div class="receipt-type-details text-xs">
  <table class="table table-xs text-xs w-full">

    <tr>
      <td>Cash In:</td>
      <td class="tabular-nums text-right"><%= receipt_money(cash_in) %></td>
    </tr>
    <tr>
      <td>Checks In:</td>
      <td class="tabular-nums text-right"><%= receipt_money(cash_in_from_checks) %></td>
    </tr> 
    <tr>
      <td>Cash Out:</td>
      <td class="tabular-nums text-right"><%= receipt_money(cash_back) %></td>
    </tr>
  </table>
</div>

<% if check_items.any? %>
  <%= render "teller/receipts/receipt_check_details", check_items: check_items, total_cents: checks_total %>
<% end %>

<% availability_rows = deposit_availability_rows(posting_batch, cash_in_from_cash, check_items, cash_back_cents: cash_back) %>
<% if availability_rows.any? %>
  <table class="table table-sm text-xs w-full mt-3">
    <thead>
      <tr><th class="text-left">Availability</th><th class="text-right tabular-nums">Amount</th></tr>
    </thead>
    <tbody>
      <% availability_rows.each do |row| %>
        <tr>
          <td><%= row[:label] %></td>
          <td class="text-right tabular-nums"><%= receipt_money(row[:amount_cents]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render "teller/receipts/receipt_account_info", posting_batch: posting_batch %>
